<markdown ngPreserveWhitespaces>


## RxJS Operators Practice

For exercise below, you will need to go into the `app.component.ts`, and follow the instructions. You will be given an observable that you will need to accomplish something with. You will be using the console to verify your code changes so make sure you click on the "Console" bar at the bottom-right of your browser window.

---

### Exercise 

1. Add import statement for the `map`, `tap`, and `take` operators.
2. Add the import statement for the `pipe` method as well.
3. Add the call to the `pipe` method on the observable in the `exercise()` method.
4. Print out each emitted item to the console from the `pipe` method. What operator would best fit this requirement?
5. Transform each value to its double from the `pipe` method using a separate operator (multiply by 2). What operator would best fit this requirement?
6. Transform each resulting value from above by subtracting 10 from each from the `pipe` method using a separate operator.
7. Throw an error if the result from the transformations above give exactly 0 from the `pipe` method using a separate operator. What operator would best fit this requirement?
8. Only emit the first 3 items from the original Observable from the `pipe` method using a separate operator. Do you see the error in the console now? Why or why not?

</markdown>